{% extends "benefit-template.njk" %}

{% set sectionId = 'province-mb' %}

{% block header %}
  {{__("province-mb.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-mb.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-mb",
    __('province.manitoba.infolink'),
    __('province.manitoba.infolink_text')
  )}}
{% endblock %}