{% extends "benefit-template.njk" %}

{% set sectionId = 'province-ns' %}

{% block header %}
  {{__("province-ns.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-ns.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-ns",
    __('province.novascotia.infolink'),
    __('province.novascotia.infolink_text')
  )}}
{% endblock %}