{% extends "benefit-template.njk" %}

{% set sectionId = 'province-ab' %}

{% block header %}
  {{__("province-ab.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-ab.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-ab",
    "https://www.alberta.ca/covid-19-supports-for-albertans.aspx",
    __('infolink.province.alberta')
  )}}
{% endblock %}