{% extends "benefit-template.njk" %}

{% set sectionId = 'province-qc' %}

{% block header %}
  {{__("province-qc.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-qc.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-qc",
    __('province.quebec.infolink'),
    __('province.quebec.infolink_text')
  )}}
{% endblock %}