{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nb' %}

{% block header %}
  {{__("province-nb.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-nb.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nb",
    __('.province.newbrunswick.infolink'),
    __('.province.newbrunswick.infolink_text')
  )}}
{% endblock %}