{% extends "benefit-template.njk" %}

{% set sectionId = 'province-mb' %}

{% block header %}
  {{__("province-mb.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-mb.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-mb",
    "https://www.gov.mb.ca/covid19/infomanitobans/index.html#individuals",
    __('infolink.province.manitoba')
  )}}
{% endblock %}