{% extends "benefit-template.njk" %}

{% set sectionId = 'province-sk' %}

{% block header %}
  {{__("province-sk.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-sk.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-sk",
    __('province.saskatchewan.infolink'),
    __('province.saskatchewan.infolink_text')
  )}}
{% endblock %}