{% extends "benefit-template.njk" %}

{% set sectionId = 'province-on' %}

{% block header %}
  {{__("province-on.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-on.body') }}</p>

  <strong>{{ __('province-on.body.goodtoknow') }}</strong>
  <ul>
    <li>{{ __('province-on.body.goodtoknow.1') | safe }}</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-on",
    __('province.ontario.infolink'),
    __('province.ontario.infolink_text')
  )}}
{% endblock %}