{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nu' %}

{% block header %}
  {{__("province-nu.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-nu.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nu",
    "https://www.gov.nu.ca/health/information/covid-19-novel-coronavirus",
    __('infolink.province.nunavut')
  )}}
{% endblock %}