{% extends "benefit-template.njk" %}

{% set sectionId = 'province-bc' %}

{% block header %}
  {{__("province-bc.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-bc.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-bc",
    __('province.britishcolumbia.infolink'),
    __('province.britishcolumbia.infolink_text')
  )}}
{% endblock %}