{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nl' %}

{% block header %}
  {{__("province-nl.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-nl.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nl",
    __('province.newfoundland.infolink'),
    __('province.newfoundland.infolink_text')
  )}}
{% endblock %}