{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nl' %}

{% block header %}
  {{__("province-nl.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-nl.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nl",
    "https://www.gov.nl.ca/covid-19/resources/",
    __('infolink.province.newfoundland')
  )}}
{% endblock %}