{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nb' %}

{% block header %}
  {{__("province-nb.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-nb.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nb",
    "https://www2.gnb.ca/content/gnb/en/corporate/promo/covid-19.html",
    __('infolink.province.newbrunswick')
  )}}
{% endblock %}