{% extends "benefit-template.njk" %}

{% set sectionId = 'province-yt' %}

{% block header %}
  {{__("province-yt.header")}}
{% endblock %}

{% block body %}
  <p>{{ __('province-yt.body') }}</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-yt",
    __('province.yukon.infolink'),
    __('province.yukon.infolink_text')
  )}}
{% endblock %}